{% extends 'purbeurre_website/base.html' %}

{% load static %}

{% load search_extras %}

{% block title %}

    {% if product != null %}
        Pur Beurre - Recherche : {{ product.productName }}
    {% else %}
        Pur Beurre - Recherche : {{ request.POST.product_name }}
    {% endif %}

{% endblock title %}

{% block body %}

    <body id="page-top">
{% endblock body %}

{% block menuTop %}
    <a class="navbar-brand js-scroll-trigger"
       href="{% url 'purbeurre_website:index' %}">
        <img src="{% static 'purbeurre_website/img/logo_pur_beurre-favicon.png' %}">
        Pur Beurre</a>
{% endblock menuTop %}

{% block content %}

    {% if products != null %}
        <header class="text-center text-white bg-dark d-flex" id="product-header">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto sproductname">
                        <h1><strong>Vous recherchez peut-être :</strong></h1>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            {% for product in products %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="card-deck">
                    <div class="row col-12"> {% endif %}
            <div class="card col-4 card m-4 text-center">
                <div class="nutriscore nutricolor-{{ product.nutriscore }} text-center text-uppercase">
                    {{ product.nutriscore }}
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center"><a
                            href="{% url 'product' product.productName %}"
                            class="subName"
                            title="{{ product }}">{{ product }}</a></h4>
                    {% if product.imgURL != None %}
                        <img class="img-thumbnail mx-auto my-auto d-block productImg m-4"
                             src="{{ product.imgURL }}">
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.brands|title }}</li>
                    <li class="list-group-item">{{ product.shops|default:"Non précisé" }}</li>
                </ul>
                <div class="card-footer bg-white">
                    <div class="input-group">
                        <a class="btn btn-product col btn-info btn-block m-2"
                           href="{% url 'find_substitute' query product.id %}">Rechercher un substitut</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
                </div><!-- row closing -->
            {% endif %}
                <hr class="divider my-4">
            {% endfor %}

        </div>

    {% else %}
        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div style="padding-bottom:28vh;">
                </div>
                <div class="row">
                    <div class="col-lg-10 mx-auto" style="padding-bottom:32vh;">
                        <h1>
                            <strong class="sproductname">Aucun produit n'a été trouvé
                                ¯\_(ツ)_/¯</strong>
                        </h1>
                    </div>
                    <div class="col-lg-10 mx-auto">
                        <h1>
                            <strong class="sproductname"></strong>
                        </h1>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}

{% endblock content %}