{% extends "purbeurre_website/base.html" %}

{% load bootstrap4 %}

{% block title %}Edit your account{% endblock %}

{% block content %}
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form :</p>

    <form action="." method="post" enctype="multipart/form-data" class="form">
        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}
        {% csrf_token %}
        {% buttons %}
            <input type="submit" value="Save changes">
        {% endbuttons %}
    </form>
{% endblock %}