{% extends "purbeurre_website/base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Changez de mot de passe.{% endblock %}
{% block content %}
    <header class="masthead">
        <div class="container">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Mot de passe oublié ?</h1>
                    <p class="text-white-75 font-weight-light mb-5">Entrez votre adresse pour obtenir un nouveau mot de passe.</p>
                    <form class="text-white-75" action="." method="post">
                        {{ form|crispy }}
                        {% csrf_token %}
                        <p><input type="submit" value="Envoyer E-mail"></p>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}