{% extends "purbeurre_website/base.html" %}
{% load static %}

{% block title %}Restaurer votre mot de passe.{% endblock %}

{% block content %}
    <header class="masthead">
        <div class="container">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end text-white-75">
                    <h1>Restaurer votre mot de passe</h1>
                    {% if validlink %}
                        <p>Veuillez entrer votre mot de passe deux fois:</p>
                        <form action="." method="post">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <p><input type="submit" value="Change my password"/></p>
                        </form>
                    {% else %}
                        <p>Votre mot de passe est invalide. Veuillez réessayer.</p>
                    {% endif %}</div>
            </div>
        </div>
    </header>
{% endblock %}