{% extends "purbeurre_website/base.html" %}

{% load static %}

{% block title %}

    Pur Beurre - Vos Favoris

{% endblock title %}

{% block body %}
    <body id="page-top">
{% endblock body %}

{% block menuTop %}
    <a class="navbar-brand js-scroll-trigger" href="{% url 'purbeurre_website:index' %}"><img
            src="{% static 'purbeurre_website/img/logo_pur_beurre-favicon.png' %}"
            style="margin-bottom:4px;"> Pur Beurre</a>
{% endblock menuTop %}

{% block content %}
    {% if random_image %}
        <header class="text-center text-white d-flex" style="background-image: url({{ random_image }})"
                id="product-header">
    {% else %}
        <header class="text-center text-white bg-dark d-flex" id="product-header">
    {% endif %}
<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto sproductname">
            <h1><strong class="">Vos favoris</strong>
            </h1>
        </div>
    </div>
</div>
</header>
<section class="products">
    {% if user_favorites %}
        <div class="container">
            <div class="card-deck">
                {% for favorite in user_favorites %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="row col-12"> {% endif %}
                <div class="card m-4 text-center">
                    <div class="nutriscore nutricolor-{{ favorite.substitute.nutriscore }} text-uppercase">
                        {{ favorite.substitute.nutriscore }}
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="subName"
                               href="{% url 'product' favorite.substitute %}">{{ favorite.substitute }}</a></h4>
                        <h4 class="card-title">Remplace :</h4>
                        <h4 class="card-title">
                            <a class="subName"
                               href="{% url 'product' favorite.product %}"
                               title="{{ favorite.product }}">
                                {{ favorite.product }}</a> au nutriscore <span class="text-uppercase">
                                    {{ favorite.product.nutriscore }}</span>

                        </h4>
                        {% if favorite.substitute.imgURL != None %}
                            <img class="img-thumbnail mx-auto my-auto d-block productImg m-4"
                                 src="{{ favorite.substitute.imgURL }}">
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Marque
                            : {{ favorite.substitute.brands|title|default:"Non précisé"|truncatewords:4 }}</li>
                        <li class="list-group-item">Magasin
                            : {{ favorite.substitute.shops|title|default:"Non précisé"|truncatewords:4 }}</li>
                    </ul>
                    <div class="card-footer bg-white">
                        <a href="{% url 'favorites_remove' favorite.product favorite.substitute %}"
                           class="btn btn-info btn-block"
                           value=""><span class='fas fa-times'></span> Supprimer ce favori</a></div>
                </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div><!-- row closing -->
                    <hr class="divider my-4">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="mx-auto mt-5">
                    <h4>Vous n'avez pas encore de produits favoris !</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-9 mx-auto">
                    <p class="text-faded mt-5">Trouvez un produit de substitution pour un produit que vous consommez
                        tous les jours :</p>
                    <form class="form-group" action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="product_name" class="mx-auto col-lg-7 col-7 txtQuery" rows="1"
                                   placeholder="Recherche...">
                            <input type="submit" class="input-group-addon btn btn-primary col-lg-5 col-5 mx-auto"
                                   value="Rechercher">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</section>

{% endblock content %}