{% extends "purbeurre_website/base.html" %}

{% load static %}

{% block title %}

    Pur Beurre - Vos Favoris

{% endblock title %}

{% block body %}
    <body id="page-top">
{% endblock body %}

{% block menuTop %}
    <a class="navbar-brand js-scroll-trigger" href="{% url 'purbeurre_website:index' %}"><img
            src="{% static 'purbeurre_website/img/logo_pur_beurre-favicon.png' %}"
            style="margin-bottom:4px;"> Pur Beurre</a>
{% endblock menuTop %}

{% block content %}
    {% if random_image %}
        <header class="text-center text-white d-flex" style="background-image: url({{ random_image }})"
                id="product-header">
    {% else %}
        <header class="text-center text-white bg-dark d-flex" id="product-header">
    {% endif %}
<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto sproduct_name">
            <h1><strong class="">Vos favoris</strong>
            </h1>
        </div>
    </div>
</div>
</header>
<section class="products">
    {% if user_favorites %}
        <div class="container">
            {% for favorite in user_favorites %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="card-deck">
                    <div class="row col-12">
                {% endif %}
            <div class="card col-4 m-4 text-center">
                <div class="nutriscore nutricolor-{{ favorite.substitute.nutriscore }} text-uppercase">
                    {{ favorite.substitute.nutriscore }}
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="subName"
                           href="{% url 'product' favorite.substitute.id %}">{{ favorite.substitute.product_name }}</a>
                    </h4>
                    <h6 class="card-title">Remplace :</h6>
                    <h6 class="card-title">
                        <a class="subName"
                           href="{% url 'product' favorite.product.id %}"
                           title="{{ favorite.product.product_name }}">
                            {{ favorite.product }}</a> au nutriscore <span class="text-uppercase">
                                    {{ favorite.product.nutriscore }}</span>
                    </h6>
                    {% if favorite.substitute.img_url != None %}
                        <img class="img-thumbnail mx-auto my-auto d-block productImg m-4"
                             src="{{ favorite.substitute.img_url }}">
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Marque
                        : {{ favorite.substitute.brands|title|default:"Non précisé" }}</li>
                    <li class="list-group-item">Magasin :
                        {% for store in product.in_store.all %}
                            {{ store|default:"Non précisé" }}
                            {% if forloop.revcounter > 1 %}, {% else %}{% endif %}
                        {% endfor %}</li>
                </ul>
                <div class="card-footer bg-white">
                    <a href="{% url 'favorites_remove' favorite.product.id favorite.substitute.id %}"
                       class="btn btn-info btn-block" value="">
                        <span class='fas fa-times'></span> Supprimer ce favori</a></div>
                <small>Favori enregistré le {{ favorite.created }}</small>
            </div>

            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
                </div><!-- row closing -->
                <hr class="divider my-4">
            {% endif %}
            {% endfor %}

        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="mx-auto mt-5">
                    <h4>Vous n'avez pas encore de produits favoris !</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-center mt-5">Trouvez un produit de substitution pour un produit que vous consommez
                        tous les jours :</p>
                    <form class="form-group" action="{% url 'search' %}" method="get">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="product_name" class="mx-auto col-lg-7 col-7 txtQuery" rows="1"
                                   placeholder="Recherche...">
                            <input type="submit" class="input-group-addon btn btn-primary col-lg-5 col-5 mx-auto"
                                   value="Rechercher">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</section>

{% endblock content %}