{% extends 'purbeurre_website/base.html' %}

{% load static %}
{% load search_extras %}

{% block title %}

    {% if product != null %}
        Pur Beurre - Recherche : {{ product.product_name }}
    {% else %}
        Pur Beurre - Recherche : {{ product.product_name }}
    {% endif %}

{% endblock title %}

{% block body %}

    <body id="page-top">
{% endblock body %}

{% block menuTop %}
    <a class="navbar-brand js-scroll-trigger"
       href="{% url 'purbeurre_website:index' %}"><img
            src="{% static 'purbeurre_website/img/logo_pur_beurre-favicon.png' %}">
        Pur Beurre</a>
{% endblock menuTop %}

{% block content %}
    <header class="text-center text-white d-flex" style="background-image: url('{{ product.img_url }}')"
            id="product-header">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto sproductname">
                    <h1>
                        <strong class="">{{ product|truncatewords:5 }}</strong>
                    </h1>
                </div>
                <div class="col-lg-10 mx-auto text-center">
                    <h3>Nutriscore : <span class=" text-uppercase"> {{ product.nutriscore }} </span></h3>
                </div>
            </div>
        </div>
    </header>
    {% if product_by_category.items|length != 0 %}
        <section class="texthead">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto text-center">
                        <h2 class="mt-4">Vous pouvez remplacer cet aliment par :</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="products">
            <div class="container">
                {% for category, substitutes in product_by_category.items %}
                    {% if substitutes|length != 0 %}
                        <div class="row">
                            <div class="col-lg-12" style="margin-top: 20px;">
                                <h3 class="mb-6">{{ category }} :</h3>
                            </div>
                        </div>
                        {% for substitute in substitutes %}
                            {% if forloop.counter0|divisibleby:3 %}
                                <div class="card-deck mt-4">
                                <div class="row col-12">
                            {% endif %}
                        <div class="card col-md-4 m-4 text-center">
                            <div class="nutriscore nutricolor-{{ substitute.nutriscore }} text-center text-uppercase">
                                {{ substitute.nutriscore }}
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center">
                                    <a class="subName"
                                       href="{% url 'substitute_product' product.id substitute.id %}"
                                       title="{{ substitute.product_name }}">{{ substitute.product_name }}</a></h4>
                                {% if substitute.img_url != None %}
                                    <img class="img-thumbnail mx-auto my-auto d-block productImg m-4"
                                         src="{{ substitute.img_url }}">
                                {% endif %}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Marque
                                    : {{ substitute.brands|title|default:"Non précisé"|truncatewords:4 }}</li>
                                <li class="list-group-item">Magasin :
                                    {% for store in substitute.in_store.all %}
                                        {{ store.store_name|default:"Non précisé" }}
                                        {% if forloop.revcounter > 1 %}, {% else %}{% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                            <div class="card-footer bg-white">
                                <a href="{% url 'favorites_register' product.id substitute.id %}"
                                   class="btn btn-product btn-info btn-block m-2"><span class="fas fa-floppy-o"></span>
                                    Sauvegarder
                                </a>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                            </div>
                            </div><!-- row closing -->
                        {% endif %}
                        {% endfor %}
                        <hr class="divider my-4">
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    {% else %}
        <section class="texthead">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto my-auto text-center">
                        <h2>Aucun substitut trouvé pour ce produit.</h2>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}