{% extends "purbeurre_website/base.html" %}
{% load static %}

{% load search_extras %}

{% block title %}
    {% if substitute %}
        Pur Beurre - Produit : {{ substitute }}
    {% else %}
        Pur Beurre - Produit : {{ product }}
    {% endif %}
{% endblock title %}

{% block body %}

    <body id="page-top">
{% endblock body %}
{% block menuTop %}
    <a class="navbar-brand js-scroll-trigger" href="{% url 'purbeurre_website:index' %}"> <img
            src="{% static 'purbeurre_website/img/logo_pur_beurre-favicon.png' %}"
            style="margin-bottom:4px;">
        Pur Beurre</a>
{% endblock menuTop %}

{% block content %}
    {% if substitute %}
        <header class="text-center text-white d-flex" style="background-image: url({{ substitute.img_url }})"
                id="product-header">
    {% else %}
        <header class="text-center text-white d-flex" style="background-image: url({{ product.img_url }})"
                id="product-header">
    {% endif %}
<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto sproductname">
            <h1><strong>Comparez ces produits :</strong></h1>
        </div>
    </div>
</div>
</header>
<div class="container-fluid text-center">
    {% if substitute %}
        <div class="row">
            <div class="col-10 mx-auto">
                <h2 class="m-2"><strong class="subName" title="{{ substitute.product_name }}">
                    {{ substitute.product_name }}</strong>
                </h2>
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid mx-auto rounded m-2"
                             src="{{ substitute.img_url }}"
                             alt="Product Image">
                        <img class="img-fluid rounded m-2"
                             src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ substitute.nutriscore }}.svg"
                             alt="NutriScore nutrition grade {{ substitute.nutriscore }}">
                        <img class="img-fluid rounded m-2" src="{{ substitute_nutri_img }}"
                             alt="Values for 100g">
                        <a href="{{ substitute.product_url }}">
                            <h3 class=" m-2 text-center">Lien vers la page du produit sur OpenFoodFact</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if substitute %}
            <div class="row">
                <div class="col-8 mx-auto">
                    <a class="btn btn-product btn-info btn-block m-2"
                       href="{% url 'favorites_register' product.id substitute.id %}">Enregistrer {{ substitute.product_name|truncatewords:6 }}
                        comme substitut de {{ product.product_name }}</a>
                </div>
            </div>
        {% endif %}
        <hr class="divider my-4">
    {% endif %}
    <div class="row">
        <div class="col-10 mx-auto">
            <h2 class="m-2"><strong class="subName m-2"
                                    title="{{ product.product_name }}">{{ product.product_name }}</strong>
            </h2>
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid mx-auto rounded m-2"
                         src="{{ product.img_url }}"
                         alt="Substitute image">
                    <img class="img-fluid rounded m-2"
                         src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ product.nutriscore }}.svg"
                         alt="NutriScore nutrition grade {{ product.nutriscore }}">
                    <img class="img-fluid rounded m-2" src="{{ product_nutri_img }}"
                         alt="Values for 100g">
                    <a href="{{ product.product_url }}">
                        <h3 class=" m-2 text-center">Lien vers la page du produit sur OpenFoodFact</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}