{% extends 'purbeurre_website/base.html' %}

{% load static %}

{% load search_extras %}

{% block title %}

    {% if product != null %}
        Pur Beurre - Recherche : {{ product.productName }}
    {% else %}
        Pur Beurre - Recherche : {{ request.POST.product_name }}
    {% endif %}

{% endblock title %}

{% block body %}

    <body id="page-top">
{% endblock body %}

{% block menuTop %}
    <a class="navbar-brand js-scroll-trigger"
       href="{% url 'purbeurre_website:index' %}">
        <img src="{% static 'purbeurre_website/img/logo_pur_beurre-favicon.png' %}">
        Pur Beurre</a>
{% endblock menuTop %}

{% block content %}
    {% if products %}
        {% if random_img %}
            <header class="text-center text-white d-flex" style="background-image: url({{ random_img }})"
                    id="product-header">
        {% else %}
            <header class="text-center text-white bg-dark d-flex" id="product-header">
        {% endif %}
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto sproductname">
                <h1><strong>Quel produit souhaitez-vous remplacer ?</strong></h1>
            </div>
        </div>
    </div>
    </header>
        <div class="container">
            {% for product in products %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="card-deck">
                    <div class="row col-12"> {% endif %}
            <div class="card col-4 m-4 text-center">
                <div class="nutriscore nutricolor-{{ product.nutriscore }} text-center text-uppercase">
                    {{ product.nutriscore }}
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center"><a
                            href="{% url 'product' product.id %}"
                            class="subName"
                            title="{{ product.product_name }}">{{ product.product_name }}</a></h4>
                    {% if product.img_url != None %}
                        <img class="img-thumbnail mx-auto my-auto d-block productImg m-4"
                             src="{{ product.img_url }}">
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Marque : {{ product.brands|default:"Non précisé"|truncatewords:4 }}</li>
                    <li class="list-group-item">Magasin :
                        {% for store in product.in_store.all %}
                        {{ store.store_name|default_if_none:"Non précisé"}}
                        {% if forloop.revcounter > 1 %}, {% else %}{% endif %}
                    {% endfor %}</li>
                </ul>
                <div class="card-footer bg-white">
                    <div class="input-group">
                        <a class="btn btn-product col btn-info btn-block m-2"
                           href="{% url 'find_substitute' query product.id %}">Rechercher un substitut</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
                </div><!-- row closing -->
            {% endif %}
                <hr class="divider my-4">
            {% endfor %}

        </div>
    {% else %}
        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div style="padding-bottom:28vh;">
                </div>
                <div class="row">
                    <div class="col-lg-10 mx-auto" style="padding-bottom:32vh;">
                        <h1>
                            <strong class="sproductname">Aucun produit n'a été trouvé.
                                ¯\_(ツ)_/¯</strong>
                        </h1>
                        <h5>
                            <a href="{% url 'purbeurre_website:index' %}">Faire une nouvelle recherche.</a>
                        </h5>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}

{% endblock content %}