{% extends "purbeurre_website/base.html" %}

{% block title %}Bienvenue !{% endblock %}
{% block content %}
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-12 align-self-end">
                    <h1>Bienvenue {{ new_user.first_name }} !</h1>
                    <p>Votre compte a été créé. Maintenant vous pouvez vous <a href="{% url 'login' %}">connecter</a>.
                    </p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}