{% extends "purbeurre_website/base.html" %}

{% block title %}Welcome{% endblock %}
{% block content %}
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-12 align-self-end">
                    <h1>Welcome {{ new_user.first_name }}!</h1>
                    <p>Your account has been successfully created. Now you can <a href="{% url 'login' %}">log in</a>.
                    </p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}